/** Test  **/

body {
    margin: 0;
}

img.personal-image {
    max-width: 800px;
    
}
.container {
   width: 100%;
   margin: 0 auto;
    font-family: helvetica;
}

.main-header {
	background: #121925;
    font-size: 3em;
    padding: 20px;
    font-weight: bold;
    color: white;
       
}

ul {
    
    list-style: none;
}


}
img.pizza {
    
    max-width: 400px;
}

img.bacon {
    
    max-width: 800px;
}

img.sushi {
    
    max-width: 800px;
}